//$text-color: #202020;
$text-color: white;

.weather {
    max-width: 50%;
}
.container {
    //width: 1200px;
    margin: auto;
    h2 {
        text-align: center;
        font-size: 30px;
        font-weight: normal;
    }
    color: $text-color;
    font-family: 'Poiret One', cursive;
}
.top_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top {
    display: flex;
    justify-content: center;
    color: $text-color;
    img {
        float: left;
        width: 250px;
        height: 150px;
    }
    .weather__main {
        font-size: 100px;
    }
    .weather__celcium {
        font-size: 50px;
    }
}
.weather__highlow {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: -40px;
    margin-left: 210px;
}
.weather__condition {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}
.weather__updatetime {
    color: $text-color;

    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    font-size: 15px;
    margin: 10px 30px;
    img {
        display: block;
        margin-right: 10px;
        width: 50px;
        height: 30px;
    }
    span {
        margin-right: 5px;
    }
}
.weather__details {
    color: $text-color;
    //font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
    font-size: 15px;
    div {
        margin: 5px 15px;
    }
    
}
.weather__forecast {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: top;
    text-align: center;
    font-weight: normal;
    img {
        width: 83px;
        height: 50px;
    }
}
.period {
  margin-bottom: 5px;
}
.temp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.temp__high {
    margin-right: 10px;
}
