.datetime {
    display: flex;
    justify-content: space-between;
    align-items: centers;
    width: 50%;
    text-align: right;
    margin-top: -110px;
    &__time {
        font-size: 70px;        
    }
    &_weekday {
        font-size: 20px;
    }
    &__date {
        font-size: 25px;
        margin-top: 5px;
    }
}
.lp {
    width: 50%;
    height: 50px;
}
.rp {
    margin: auto;
    text-align: center;
}

